# Virtual environments
venv/
venv1/
.env/

# Python cache
__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/

# Logs
*.log

# Jupyter notebooks (optional)
.ipynb_checkpoints/

# Build / packaging
build/
dist/
*.egg-info/
